body {
    background-color: rgb(64, 113, 156);
}

.box {
    font-family: 'arial';
    width: 300px;
    padding: 10px;
    border: 3px solid rgb(112, 147, 189);
    text-align: center;
}

.flex-container {
    display: flex;
    width: 850px;
    height: 324px;
    background-color: rgb(100, 135, 178);
    margin: 20px;
    margin-top: 10px;
}

img {
    padding-top: 50px;
    margin: 20px;
}

.centered-text {
    position: absolute;
    top: 30%; /* Move para o meio vertical da imagem */
    left: 50%; /* Move para o meio horizontal da imagem */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente */
    color: white; /* Mantém o texto visível */
    font-size: 70px;
    font-weight: bold;
    font-family: 'anton', sans-serif;
}


.container {
    margin: 0 auto; /* Centraliza horizontalmente */
    width: fit-content; /* Ajusta a largura automaticamente ao conteúdo */
    text-align: left; /* Garante que o alinhamento do texto permaneça à esquerda */
}


#a1 {
    background-color: aliceblue;
    height: 20px;
    width: 200px;

}

#a2 {
    background-color: aliceblue;
    height: 100px;
    width: 200px;
    outline: black solid 1px;

}

.centered-text {
    font-family: 'anton', sans-serif;
}

label {
    text-align: left;
    display: flex;
    width: 200px;
}

form {
    width: 200px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 5px; /* Espaçamento interno */
    color: white; /* Texto branco */
    text-align: center; /* Centraliza o texto */
}

footer a {
    color: #a9c14a; /* Cor do link (amarelo, por exemplo) */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
}

footer a:hover {
    color: #ffffff; 
    text-decoration: underline; 
}

footer p {
    margin: 10px 0; /* Espaçamento entre os parágrafos */
    font-size: 14px; /* Tamanho da fonte */
}

